<div class="header">
    <app-navbar></app-navbar>
</div>

<p-card header="Gestión de Contactos" [style]="{ width: '100%' }">
    <div class="contenedor-contactos">
        <!-- Sección de Contactos -->
        <div class="seccion-contactos">
            <h3>Lista de Contactos</h3>
            <p-table [value]="contactos" [responsive]="true" class="tabla-contactos">
                <ng-template pTemplate="header">
                    <tr>
                        <th>Correo</th>
                        <th>Comentario</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-contacto>
                    <tr>
                        <td>{{ contacto.correo }}</td>
                        <td>{{ contacto.comentario }}</td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>
</p-card>
